extends layout.pug
block content
	div.card
		if text
			p.card-text #{text}
		else
			p.card-text Nada que mostrar
		
		//- Si hay pista entonces estás viendo la pregunta
		if hint
			p
				i
					p.card-hint Hint: #{hint}
			a.card-answer(href="/cards/"+ id + "?side=answer") Ver respuesta

		//- Si no estás viendo la respuesta
		else
			a.card-question(href="/cards/"+ id +"?side=question") Ver pregunta
			
		a.card-nextCardBtn(href="/cards") Ver otra flashcard
		a.card-seeAllBtn(href="/") Ver todas

