extends layout.pug

block content
	h2 ¡Hola estudiante!
	form(action='/hello', method='post')
		label Escribe tu nombre:
		br
		input(type='text', name='username')
		br
		button.button-primary-small(type='submit') Incribirse
