doctype html
html(lang="en")
	head
		title Flash Cards
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300|Rammetto+One|Roboto:1300")
		link(rel="stylesheet" href="/static/stylesheets/style.css")
	body
		include includes/header.pug
		block content
		include includes/footer.pug
		
